
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: inter;
    background-color: rgb(241, 233, 222);
  }
}